<mat-toolbar class="header-toolbar">
  <div class="left-menu">
    <a mat-button routerLink="/">Home</a>
    <a mat-button *ngIf="isAuthenticated" [routerLink]="['/map', userId]"
      >Map</a
    >
  </div>

  <span class="center-menu" *ngIf="isAuthenticated">
    Welcome, {{ username }}!
  </span>

  <div class="right-menu">
    <a mat-button *ngIf="!isAuthenticated" routerLink="/login">Login</a>
    <a mat-button *ngIf="isAuthenticated" (click)="_onLogout()">Logout</a>
  </div>
</mat-toolbar>

<!-- <header>
  <nav class="header-container">
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li *ngIf="isAuthenticated">
        <a [routerLink]="['/map', userId]">Map</a>
      </li>
    </ul>

    <div class="center-menu" *ngIf="isAuthenticated">
      <span>Welcome, {{ username }}!</span>
    </div>

    <ul>
      <li *ngIf="!isAuthenticated"><a routerLink="login">Login</a></li>
      <li *ngIf="isAuthenticated">
        <a class="logout-link" (click)="_onLogout()">Logout</a>
      </li>
    </ul>
  </nav>
</header> -->
