<header>
  <nav class="header-container">
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li *ngIf="isAuthenticated">
        <a [routerLink]="['/map', userId]">Map</a>
      </li>
    </ul>

    <div class="center-menu" *ngIf="isAuthenticated">
      <span>Welcome, {{ username }}!</span>
    </div>

    <ul>
      <li *ngIf="!isAuthenticated"><a routerLink="login">Login</a></li>
      <li *ngIf="isAuthenticated">
        <a class="logout-link" (click)="_onLogout()">Logout</a>
      </li>
    </ul>
  </nav>
</header>
