@import '../../../styles/variables';

.map-layout {
  display: flex;
  height: 100vh;
  width: 100vw;

  .map-section {
    flex: 3;
    border-right: 1px solid $map-section-border-right-color;
  }

  .sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    background-color: $map-side-bar-bg-color;
    overflow-y: auto;

    button {
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 5px;
      background-color: $map-btn-bg-color;
      color: $map-btn-char-color;
      font-size: 1rem;
      cursor: pointer;
    }
  }
}
