@import '../../../../styles/variables';

.friends-list-box {
  width: $friends-list-width-size;
  max-height: $friends-list-height-size;
  overflow-y: auto;
  background-color: $friends-list-bg;
  border: 1px solid $friends-list-border;
  padding: 10px;
  font-size: 14px;

  mat-card-title {
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: bold;
  }

  .sort-field {
    width: 100%;
  }

  mat-list {
    padding: 0;

    mat-list-item {
      padding: 5px 0;
      border-bottom: 1px solid $friends-list-seperator;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
