<div class="friends-list-box" *ngIf="loggedInUser">
  <h4>Friends List (friends who are highlighted are nearby):</h4>

  <label>
    Sort by:
    <select [(ngModel)]="sortBy" (change)="sortFriends()">
      <option value="name">Name</option>
      <option value="weight">Weight</option>
      <option value="distance">Distance</option>
    </select>
  </label>

  <ul>
    <!-- pass distance to the directive input -->
    <li
      *ngFor="let friend of friends"
      [appCloseUsersHighlight]="
        getDistance(
          +loggedInUser.currentLocation.latitude,
          +loggedInUser.currentLocation.longitude,
          +friend.currentLocation.latitude,
          +friend.currentLocation.longitude
        )
      "
    >
      {{ friend.username }}
      <span *ngIf="sortBy === 'weight'"> - {{ friend.weight }}kg</span>

      <!-- make the numbers round to 1 digit with atleast one number -->
      <span *ngIf="sortBy === 'distance'">
        -
        {{
          getDistance(
            +loggedInUser.currentLocation.latitude,
            +loggedInUser.currentLocation.longitude,
            +friend.currentLocation.latitude,
            +friend.currentLocation.longitude
          ) | number : "1.0-1"
        }}
        km
      </span>
    </li>
  </ul>

  <p *ngIf="friends.length === 0">No friends found.</p>
</div>
