@import '../../../../styles/variables';

.map-container {
  width: $map-live-size;
  height: $map-live-size;
}

:host ::ng-deep .marker-logged-in {
  width: 10px;
  height: 10px;
  background-color: $map-live-logged-in-user-color;
  border-radius: 50%;
  border: 2px solid $map-live-user-border;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

:host ::ng-deep .marker-friend {
  width: 10px;
  height: 10px;
  background-color: $map-live-logged-in-user-friend-color;
  border-radius: 50%;
  border: 2px solid $map-live-user-border;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}