@import '../../../styles/variables';

.home-container {
  max-width: 600px;
  margin: 80px auto;
  text-align: center;
  padding: 30px;
  background-color: $home-page-bg-color;
  border-radius: 8px;
  border: 1px solid $home-page-border-color;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

  mat-card-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: $home-page-title-color;
  }

  mat-card-content {
    p {
      font-size: 1.1rem;
      color: $home-page-content-color;
      margin-bottom: 15px;

      &.tagline {
        font-style: italic;
        color: $home-page-slogan-color;
        font-weight: 500;
      }
    }
  }
}
