<div>
  <div *ngIf="isLoading" class="spinner-container">
    <app-loading-spinner></app-loading-spinner>
  </div>

  <form *ngIf="!isLoading" (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
    <div>
      <label for="userName">Username</label>
      <input type="text" id="userName" ngModel name="userName" required />
    </div>

    <div>
      <label for="password">Password</label>
      <input type="password" id="password" ngModel name="password" required />
    </div>

    <button type="submit" [disabled]="!loginForm.valid">Submit</button>

    <div *ngIf="loginError" class="error">
      <span>username or password is incorrect!</span>
    </div>
    <div>
      <label class="sign-up-label">
        Don't have a user?
        <a routerLink="/signup">Click Here to sign up!</a>
      </label>
    </div>
  </form>
</div>
