<mat-card class="signup-card">
  <mat-card-title>Sign Up</mat-card-title>

  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

  <form *ngIf="!isLoading" [formGroup]="signupForm" (ngSubmit)="_onSubmit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Username</mat-label>
      <input matInput type="text" formControlName="username" />
      <mat-error *ngIf="!usernameAvailable">
        Username is not available, please pick a different username.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Date Of Birth</mat-label>
      <input
        matInput
        type="datetime-local"
        id="dateOfBirth"
        formControlName="dateOfBirth"
      />
      <mat-error *ngIf="signupForm.get('dateOfBirth')?.hasError('evenMonth')">
        Birth month cannot be even
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Weight (kg)</mat-label>
      <input matInput type="number" formControlName="weight" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Address</mat-label>
      <mat-select formControlName="address">
        <mat-option value="">--Select address--</mat-option>
        <mat-option *ngFor="let addr of addresses" [value]="addr">
          {{ addr }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      class="full-width"
      [disabled]="signupForm.invalid"
    >
      Submit
    </button>

    <div class="login-label">
      Already have a user?
      <a routerLink="/login">Click Here to log in!</a>
    </div>
  </form>
</mat-card>

<!-- <div>
  <div>
    <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  </div>

  <form *ngIf="!isLoading" [formGroup]="signupForm" (ngSubmit)="_onSubmit()">
    <div>
      <label for="username">Username:</label>

      <input type="text" id="username" formControlName="username" />
    </div>

    <div>
      <span *ngIf="!usernameAvailable" class="error"
        >Username is not available, please pick a different username.</span
      >
    </div>

    <div>
      <label for="password">Password:</label>

      <input type="password" id="password" formControlName="password" />
    </div>

    <div>
      <label for="dateOfBirth">Date Of Birth:</label>

      <input
        type="datetime-local"
        id="dateOfBirth"
        formControlName="dateOfBirth"
      />

      <div>
        <span
          *ngIf="signupForm.get('dateOfBirth')?.hasError('evenMonth')"
          class="error"
        >
          Birth month cannot be even
        </span>
      </div>
    </div>

    <div>
      <label for="weight">Weight (kg):</label>

      <input type="number" id="weight" formControlName="weight" />
    </div>

    <div>
      <label for="address">Address:</label>

      <select id="address" formControlName="address">
        <option value="">--Select address--</option>

        <option *ngFor="let addr of addresses" [value]="addr">
          {{ addr }}
        </option>
      </select>
    </div>

    <button type="submit" [disabled]="signupForm.invalid">Submit</button>

    <div>
      <label>
        Already have a user?
        <a routerLink="/login">Click Here to log in!</a>
      </label>
    </div>
  </form>
</div> -->
