@import '../../../../styles/variables';

.notifications-box {
  width: $map-notifications-box-size;
  max-height: $map-notifications-box-size;
  overflow-y: auto;
  background-color: $notifications-bg;
  border: 1px solid $notifications-border;
  padding: 10px;

  mat-card-title {
    margin-bottom: 12px;
    display: block; 
  }
}

